/*==Reset CSS==*/
@charset "utf-8";
/* CSS Document */

/*==Style cơ bản cho website==*/
.{
	margin:0px;
	padding:0px;
}
.container
{
	height:320px;
	width:1346px;	
	background-color:#CC6;
}
.row
{

	margin-left:350px;
	width:600px;}

.logo_chuyen
{
	text-align:center;
	padding:20px 0px;
}
.dgc
{
	text-align:center;
	width:350px;
	margin-left:120px;
	background-color:#F93;
	border:2px solid #C60;
}
.dgc1
{
	margin-top:20px;
	background-color:#F93;
	border:2px solid #C60;
}
.lg_d
{
    margin-top:-350px;
    margin-left:40px;
    height: 250px;
    width: 277px;
}
.CS_TD
{
	text-align:center;
}

.nd
{
	text-align:center;
	
}
.bocongthuong
{
	
	float:right;
	margin-top:-100px;
	margin-right:100px;}
