
* {
    margin: 0px;
    padding: 0px;
}

section, aside {
    display: table-cell;
    vertical-align: top;
    
}
.than_gt {
    width:1300px;
    margin: 0px auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}
section
{
    
    width:1000px;
    padding:20px;
    border:2px solid#000000;
}
aside{
    margin-top:-1040px;
    text-align:center;
    float:right;
    height:1030px;
    width:300px;
    border:2px solid#b6ff00;
}
marquee{
    height:600px;
    
}
.Tieu_de{
    text-align: center;
    color:indigo;
    font-size:30px;
}

.mau_TC {
    color: crimson;
    font-style: italic;
}
.Chan_TD{
    
    text-align:center;
    
    border:2px solid#b6ff00;
}
.th_tin{
    padding:10px;
    font-size:20px;
}
.anh_cachchu{
    text-align:center;
}
.anh_datQC
{
    margin:20px 0px;
}
/*chu nhap nhay*/
@-webkit-keyframes my {
    0% {
        color: #F8CD0A;
    }

    50% {
        color: #fff;
    }

    100% {
        color: #F8CD0A;
    }
}

@-moz-keyframes my {
    0% {
        color: #F8CD0A;
    }

    50% {
        color: #fff;
    }

    100% {
        color: #F8CD0A;
    }
}

@-o-keyframes my {
    0% {
        color: #F8CD0A;
    }

    50% {
        color: #fff;
    }

    100% {
        color: #F8CD0A;
    }
}

@keyframes my {
    0% {
        color: #F8CD0A;
    }

    50% {
        color: #fff;
    }

    100% {
        color: #F8CD0A;
    }
}

.test {
    padding:5px;
    font-size: 24px;
    font-weight: bold;
    -webkit-animation: my 700ms infinite;
    -moz-animation: my 700ms infinite;
    -o-animation: my 700ms infinite;
    animation: my 700ms infinite;
}